@{
    ViewData["Title"] = "Admin - Quan ly tac gia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách tác giả</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index">Nguoi dung</a></li>
        <li class="breadcrumb-item active">Danh sách</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách nguoi dung
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-2">
                    <a class="w-100 btn btn-success" onclick="onLoad()"><i class="fa-solid fa-spinner"></i> Tải</a>
                </div>
                <div class="col-6 col-md-2">
                    <a class="w-100 btn btn-success" asp-action="Detail" asp-controller="User" asp-route-id="0"><i class="fa-solid fa-plus"></i> Thêm</a>
                </div>
            </div>
            <hr class="my-2" />
            <table id="user-list" class="datatable-js">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Điện thọai</th>
                        <th>Mã tác giả</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Điện thọai</th>
                        <th>Mã tác giả</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    function onLoad() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("List")',
            success: (res)
            {
                if (res.success === true) {
                    $('#user-list tbody').empty()
                    $('#user-list tbody').html(res)
                }
            }
        })   
    },
    function onDeleteUser(username) 
    {
        swal({
            title: 'Xác nhận',
            text: 'Ban có muốn xóa không',
            icon: 'warning',
            buttons: true,
            dangerousMode: true
        }).then((willDelete) =>
        {
            if (willDelete)
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete")',
                    data:
                    {
                        UserName : username
                    }
                    success: (res)
                    {
                        if (res.success === true) {
                            swal({
                                title: "Xác nhận",
                                text: 'Thành công',
                                icon: 'success'
                            })
                        }
                        else {
                            swal({
                                title: "Xác nhận",
                                text: 'Lỗi',
                                icon: 'error'
                            })
                        }
                    }
                    error: {}
                })

            }
        })
    }
</script>